// out: ../../css/main.css

// Обнуление
*{padding: 0;margin: 0;border: 0;}
*,*::before,*::after{ -moz-box-sizing: border-box;-webkit-box-sizing: border-box; box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus, a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: inherit;}
// подключение шрифтов
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800;900&display=swap');
// переменные
$color_1: #FFC628;
$color_2: #F7B1A2;
$color_3: #F7B1A233;
$gradient_1: linear-gradient(90deg,
#FFE49A 0%,
#FFC0A5 100%);
$gradient_2: linear-gradient(90deg,
#FFC0A5 0%,
#FFE49A 100%);
$gradient_3: linear-gradient(180deg,
#FFD636 0%,
#F7B1A2 100%);
// настройка для прижатия footer к низу страницы
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
	margin-top: 100px;
}

// плавный скроллинг
html {
    scroll-behavior: smooth;
}

// цвет и подключение шрифта для body
body {
    font-family: 'Montserrat', sans-serif;
    background: #fff;
}

// стилизация container
.container {
    max-width: 740px;
    padding: 0 20px;
    margin: auto;
}
// скрытие скролла в textarea
textarea{
	overflow-y: hidden;
}
// стилизация header
.header {
    position: fixed;
    width: 100%;
    height: 100px;
    background: $gradient_1;
    display: flex;
    justify-content: center;
    align-items: center;
}

// стилизация логотипа
.logo {
    width: 100%;
    color: #fff;
    font-size: 60px;
    font-weight: 900;
}

// стилизация секции search
.search {
    width: 100%;
    height: 325px;
    background: $color_3;
    margin: 0 0 50px 0;
    // стилизация блока формы поиска
    .search__form {
        width: 100%;
        height: 325px;
        display: flex;
        justify-content: center;
        align-items: center;
        // стилизация инпута
        .search__action {
            width: 540px;
            height: 80px;
            background: none;
            border: 5px solid $color_2;
            border-radius: 50px;
            margin-right: 20px;
            color: $color_2;
            font-size: 35px;
            padding-left: 20px;
            font-weight: 700;
        }
        // стилизация placeholder у инпута
         ::placeholder {
            font-size: 35px;
            font-weight: 700;
            color: $color_2;
        }
        // стилизация кнопки
        .search__button {
            width: 140px;
            height: 80px;
            background-color: $color_2;
            border: 5px solid $color_2;
            border-radius: 50px;
            color: #fff;
            font-size: 25px;
            font-weight: 700;
            transition: .3s;
            // ховер эффект для кнопки
            &:hover {
                background: none;
                color: $color_2;
                transition: .3s;
            }
        }
    }
}

// стилизация секции tasks
.tasks {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    text-align: center;
    // стилизация кнопки
    .tasks__title {
        color: $color_1;
        font-size: 50px;
        font-weight: 800;
        margin: 50px 0;
		display: flex;
		flex-direction: column;
		.tasks__data{
			margin-top: 10px;
			font-size: 20px;
			color: $color_2;
		}
    }
    // стилизация пустого блока, когда задачи нет
    .tasks__null {
        height: 80px;
        border: 5px dashed $color_1;
        color: $color_1;
        font-size: 25px;
        font-weight: 800;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        z-index: -10;
    }
    // стилизация пустого отключенного блока
    .tasks__null.disabled {
        display: none;
    }
    // стилизация формы
    .tasks__form {
        // анимация при активном блоке задачи
        .tasks__item.active {
            display: flex;
            animation: itemVisibility .8s 1 ease-in-out;
        }
        // анимация при удалении блока задачи
        .tasks__item.disabled {
            animation: itemDisabled .8s 1 ease-in-out;
        }
        // анимация при выполненном блоке задачи (нажатие на кнопку с галочкой)
        .tasks__item.complete {
            // стилизация блока с кнопками в задаче
            .tasks__options {
                // стилизация самих кнопок
                .tasks__btn {
                    background-color: $color_2;
                    border: 3px solid $color_2;
                    // ховер эффект для кнопок
                    &:hover {
                        background-image: url('/img/done_pink.svg');
                        background-size: 100%;
                        &:last-child {
                            background-image: url('/img/trash_pink.svg');
                            background-size: 100%;
                        }
                    }
                }
            }
            // стилизация для блока с textarea и кнопкой change
            .tasks__result {
                border-bottom: 3px solid $color_2;
                // стилизация самой textarea
                .tasks__textarea {
                    font-weight: 900;
                    text-decoration: line-through;
                    color: $color_2;
                }
                // стилизация блока, в котором находится кнопка change
                .tasks__change {
                    // стилизация самой кнопки change
                    .tasks__btn-change {
                        background-color: $color_2;
                        border: 3px solid $color_2;
                        // ховер эффект для кнопки
                        &:hover {
                            color: $color_2;
                        }
                    }
                }
				.mobile{
					.change-mobile{
						background-image: url('/img/change_mobile_pink.svg');
						&:hover{
							background-image: url('/img/change_mobile_pink.svg');
						}
					}
				}
            }
        }
        // стилизация блока с задачей
        .tasks__item {
            margin-bottom: 50px;
            display: none;
            // стилизация блока с конпками в задаче
            .tasks__options {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                margin: 20px 20px 0 0;
                // стилизация самих кнопок
                .tasks__btn {
                    width: 30px;
                    height: 30px;
                    background-color: $color_1;
                    border-radius: 5px;
                    background-image: url('/img/done_white.svg');
                    background-position: center;
                    margin-bottom: 20px;
                    transition: .3s;
                    border: 3px solid $color_1;
                    background-size: 100%;
                    // ховер эффект для кнопок
                    &:hover {
                        transition: .3s;
                        background: none;
                        background-image: url('/img/done_yellow.svg');
                        background-position: center;
                        background-size: 100%;
                    }
                    &:last-child {
                        background-image: url('/img/trash_white.svg');
                        margin-bottom: 0;
                        &:hover {
                            transition: .3s;
                            background: none;
                            background-image: url('/img/trash_yellow.svg');
                            background-position: center;
                            background-size: 100%;
                        }
                    }
                }
            }
            // стилизация блока с textarea
            .tasks__result {
                width: 650px;
                display: flex;
                justify-content: flex-start;
                border-bottom: 3px solid $color_1;
                // стилизация самого текстового поля textarea
                .tasks__textarea {
                    width: 78.462%;
                    min-height: 77px;
                    resize: none;
                    padding: 20px 0 0 0;
                    color: $color_1;
                    font-size: 18px;
                    font-weight: 700;
                    // стилизация scrollbar внутри textarea
                    &::-webkit-scrollbar {
                        width: 10px;
                        height: 10px;
                    }
                    &::-webkit-scrollbar-button:start:decrement {
                        height: 10px;
                        background-color: transparent;
                    }
                    &::-webkit-scrollbar-button:end:increment {
                        height: 10px;
                        background-color: transparent;
                    }
                    &::-webkit-scrollbar-track-piece {
                        background-color: #fff;
                        -webkit-border-radius: 0px;
                    }
                    &::-webkit-scrollbar-thumb:vertical {
                        height: 10px;
                        background-color: #FFC628;
                        border: 1px solid #fff;
                        -webkit-border-radius: 16px;
                    }
                }
                // стилизация блока с кнопкой change
                .tasks__change {
                    width: 140px;
                    height: 100%;
					display: flex;
					flex-direction: column;
					align-items: flex-end;
					padding-top: 20px;
                    // стилизация самой кнопки change
                    .tasks__btn-change {
                        width: 120px;
                        text-align: center;
                        height: 40px;
                        background: $color_1;
                        color: #fff;
                        font-size: 18px;
                        font-weight: 700;
                        border-radius: 30px;
                        border: 3px solid $color_1;
                        transition: .3s;
						margin-bottom: 20px;
                        // ховер эффект для кнопки change
                        &:hover {
                            background: none;
                            transition: .3s;
                            color: $color_1;
                        }
                    }
                }
				.mobile{
					display: none;
				}
            }
        }
    }
}
// стилизация правого меню
.right-menu {
    width: 100px;
    height: 280px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(180deg, #FFE49A 0%, #F7B1A2 100%);
    filter: drop-shadow(0px 5px 3px #D1957B);
    border-radius: 50px;
    position: absolute;
    position: fixed;
    top: 35%;
    right: 0;
	// стилизация для кнопок правого меню
    .right-menu__button {
        width: 50px;
        height: 50px;
        background: none;
        border: none;
		img{
			width: 50px;
		}
    }
}

// стилизация менюшки для планшетов и телефонов
.bottom-menu {
    width: 100%;
    height: 50px;
    background: $color_2;
    filter: drop-shadow(0px -1px 3px #D1957B);
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    display: none;
    position: fixed;
	// стилизация для кнопок правого меню
    .bottom-menu__button {
        width: 40px;
        height: 40px;
        background: none;
        border: none;
		img{
			width: 40px;
		}
	}
}
// стилизация pop-up
// стилизация бекграунда попапа
.popup__background {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
	// стилизация самого попап окна
    .popup {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 700px;
        max-width: 100%;
        background: #fff;
        border-radius: 50px;
		// стилизация крестика в попап окне
        .popup__close {
            position: absolute;
            top: 15px;
            right: 20px;
            cursor: pointer;
        }
		// стилизация заголовка попапа
        .popup__title {
            width: 100%;
            height: 50px;
            background: $gradient_1;
            border-radius: 50px 50px 0 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            font-weight: 700;
            color: #fff;
            text-align: center;
            margin-bottom: 20px;
        }
		// стилизация блока, который выравнивает флекс элементы в попапе
        .popup__wrapper-padding {
            width: 100%;
            height: 100%;
            padding: 0 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
			.notification{
				display: flex;
				justify-content: start;
				align-items: center;
				width: 100%;
				color: $color_2;
				font-weight: 700;
				font-size: 16px;
				left: 45px;
				// анимация
				visibility: hidden;
				opacity: 0;
				transition: 0.3s;
				width: 600px;
				max-width: 100%;
				margin-bottom: 50px;
			}
			// анимация появления
			.notification.active{
				visibility: visible;
				opacity: 1;
				transition: 0.3s;
			}
        }
		// стилизация для текстареа в попапе
        .popup__textarea {
            max-width: 100%;
            width: 600px;
            padding: 40px 0 0 0;
            height: 80px;
            color: $color_1;
            font-size: 18px;
            font-weight: 700;
            border-bottom: 3px solid $color_1;
            margin-bottom: 10px;
            resize: none;
            &::placeholder {
                color: $color_1;
            }
            &--error::placeholder {
                color: $color_2;
            }
            &::-webkit-scrollbar {
                width: 10px;
                height: 10px;
            }
            &::-webkit-scrollbar-button:start:decrement {
                height: 10px;
                background-color: transparent;
            }
            &::-webkit-scrollbar-button:end:increment {
                height: 10px;
                background-color: transparent;
            }
            &::-webkit-scrollbar-track-piece {
                background-color: #fff;
                -webkit-border-radius: 0px;
            }
            &::-webkit-scrollbar-thumb:vertical {
                height: 10px;
                background-color: #FFC628;
                border: 1px solid #fff;
                -webkit-border-radius: 16px;
            }
        }
		// стилизация кнопок в попапе
        .popup__button {
            width: 200px;
            height: 60px;
            border-radius: 30px;
            background: $gradient_1;
            color: #fff;
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 50px;
            filter: drop-shadow(0px 5px 3px #FAAF8F);
            transition: .1s;
			// ховер эффект для кнопки
            &:hover {
                filter: drop-shadow(0px 8px 3px #FAAF8F);
                transform: scale(1.05);
                transition: .1s;
            }
        }
    }
}

// стилизация для попап с двумя кнопками
#logout-task,
#delete-task {
	// стилизация заголовка для попап с двумя кнопками
    .popup__title {
        margin-bottom: 50px;
    }
	// стилизация блока, который выравнивает флекс элементы для попап с двумя кнопками
    .popup__wrapper-padding {
        flex-direction: row;
		// стилизация самих кнопок
        .popup__button {
            margin: 0 50px 50px;
            height: 70px;
            font-size: 25px;
            &:nth-child(2) {
                background: $gradient_2;
            }
        }
    }
}
// анимация попап окон
#add-task,
#change-task,
#logout-task,
#delete-task,
#calendar-task{
	opacity: 0;
	pointer-events: none;
	transition: .5s all;
}
#add-task.active,
#change-task.active,
#logout-task.active,
#delete-task.active,
#calendar-task.active{
	opacity: 1;
	pointer-events: all;
	transition: .5s all;
}

// стилизация футера
.footer {
    width: 100%;
    height: 233px;
    background: $gradient_2;
    display: flex;
    justify-content: center;
    align-items: center;
    // стилизация блока с ссылкой на Github
    .footer__link {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        // стилизация иконки Github
        img {
            width: 100px;
        }
    }
}
// анимация появления блока с задачей
@keyframes itemVisibility {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

// анимация удаления блока с задачей
@keyframes itemDisabled {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
        transform: translateX(300px);
    }
}

// медиа-запросы, адаптив
@media screen and (max-width: 580px) {
    .search {
        .search__form {
            display: flex;
            justify-content: center;
            flex-direction: column;
            .search__action {
                margin-right: 0;
                width: 100%;
                margin-bottom: 20px;
            }
        }
    }
}


@media screen and (max-width: 740px) {
    .tasks {
        .tasks__title {
            font-size: calc(50px + (50 - 38) * ((100vw - 740px) / (740 - 320)));
            margin-bottom: calc(40px + (50 - 40) * ((100vw - 740px) / (740 - 320)));
        }
        .tasks__null {
            font-size: calc(15px + (25 - 25) * ((100vw - 740px) / (740 - 320)));
        }
		.tasks__form{
			.tasks__item{
				.tasks__result{
					.tasks__textarea{
						font-size: calc(18px + (15 - 10) * ((100vw - 740px) / (740 - 320)));
					}
				}
			}
		}
    }
    .logo {
        font-size: calc(60px + (60 - 50) * ((100vw - 740px) / (740 - 320)));
    }
	.popup__background{
		.popup{
			.popup__textarea,
			.notification,
			.notification.active{
				font-size: calc(18px + (15 - 10) * ((100vw - 740px) / (740 - 320)));
				&::placeholder{
					font-size: calc(18px + (15 - 10) * ((100vw - 740px) / (740 - 320)));
				}
			}

		}
	}
}

@media screen and (max-width: 480px) {
    .popup__background {
        .popup {
            .popup__close {
                width: calc(20px + (10 - 6) * ((100vw - 480px) / (480 - 320)));
            }
            .popup__title {
                font-size: calc(20px + (10 - 6) * ((100vw - 480px) / (480 - 320)));
            }
        }
    }
	.tasks{
		.tasks__title{
			font-size: calc(35px + (15 - 10) * ((100vw - 480px) / (480 - 320)));
		}
		.tasks__form{
			.tasks__item{
				.tasks__result{
					display: flex;
					justify-content: space-between;
					.tasks__change{
						display: none;
					}
					.mobile{
						display: block;
						width: 50px;
						.change-mobile{
							width: 30px;
							height: 30px;
							border-radius: 5px;
							background-size: contain;
							background-image: url('/img/change_mobile.svg');
							&:hover{
								background-size: contain;
								background-image: url('/img/change_mobile.svg');
							}
						}
					}
				}
			}
		}
	}
}

// для меню
@media screen and (max-width: 959px) {
    .right-menu {
        display: none;
    }
    .bottom-menu {
        display: flex;
    }
}

// для оступов в попапе, где две конпки
@media screen and (max-width: 650px) {
    #logout-task,
    #delete-task {
        .popup__title {
            margin-bottom: 50px;
        }
        .popup__wrapper-padding {
            flex-direction: row;
            .popup__button {
                margin: 0 50px 50px;
                font-size: 25px;
                margin: 0 20px 50px;
                &:nth-child(2) {
                    background: $gradient_2;
                }
            }
        }
    }
}

// календарь
.datepicker {
	margin-top: 20px;
    &__wrapper {
        margin-bottom: 20px;
    }
    &__header {
        background: linear-gradient(90deg, #FFE49A 0%, #FFC0A5 100%);
        color: #fff;
    }
}